h1, h2{
    text-align: center;
}
#about-me {
    text-align: center;
}
#contact-info {
    display: flex;
    justify-content: space-around;
    border: solid black 1px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.sub-container {
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    border: solid black 2px;
}
.headings {
    font-weight: bold;
}

